bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
.configure.bazelrc
.user.bazelrc
nullspaces_hand_landmarks_edgetpu.log
nullspaces_hand_landmarks_edgetpu.tflite
nullspaces_hand_landmarks_quant_edgetpu.log
nullspaces_hand_landmarks_quant_edgetpu.tflite
nullspaces_hand_landmarks_quant.tflite
nullspaces_hand_landmarks.tflite
